# Note that not all variables here might be in use for your selected configuration

# Prisma
DATABASE_URL=

# Next Auth
NEXTAUTH_SECRET=
NEXTAUTH_URL=

# Next Auth Github Provider
GITHUB_ID=
GITHUB_SECRET=


CLIENID="cd8af055-ba48-400c-a871-f0b837790057"
AUTHORIZERURL="https://authorizer-production-3b11.up.railway.app/"